<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
	<head>
		<title>Twitter</title>
		<link rel="stylesheet" th:href="@{css/page.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{css/form.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{css/messages.css}" type="text/css" media="screen"></link>
	</head>
	<body>
		<div id="content" layout:fragment="content">
			<div id="search">
				<form th:action="@{/search}" method="get">
						<p><input type="text" name="query" th:value="${param.query}" /> <input type="submit" value="Search"/></p>
				</form>
			</div>
			<h3>Your Twitter Friends</h3>
			
			<ul class="imagedList">
				<li class="imagedItem" th:each="user : ${users}">
					<div class="content">
					<p><a th:href="@{/for} + '?username=' + ${user.username}" th:text="${user.username}">username</a></p>
					</div>
				</li>
			</ul>
		</div>
	</body>
</html>