<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
	<head>
		<title>Twitter</title>
		<link rel="stylesheet" th:href="@{css/page.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{css/form.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{css/messages.css}" type="text/css" media="screen"></link>
	</head>
	<body>
		<div id="content" layout:fragment="content">
			<div id="search">
				<form th:action="@{/search}" method="get">
						<p><input type="text" name="query" th:value="${param.query}" /> <input type="submit" value="Search"/></p>
				</form>
			</div>

			 <form th:action="@{/tweet}" method="post">
				<textarea name="text" rows="2" cols="80"></textarea><br/>
				<input type="submit" value="Post Tweet"/>
			</form> 
			
			<div class="feed">
			<ul class="imagedList">
				<li class="imagedItem" th:each="tweet : ${timeline}">
					<div class="content">
					<strong><a th:href="@{/for} + '?username=' + ${tweet.user.username}" th:text="${tweet.user.username}">from user</a></strong><br/>
					<span th:text="${tweet.text}">tweet text</span><br/>
					<span class="postTime" th:text="${tweet.createdAt}">created at</span>
					</div>
				</li>
			</ul>
			</div> 
		</div>
	</body>
</html>